{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{nome}}</h4>
        <p>{{datanascimento}}</p>
        <p>{{foto}}</p>
        <p>{{nomepais}}</p>
        <p>{{endereco}}</p>
        <p>{{data}}</p>
        <a class="btn btn-dark btn-block mb-2" 
        href="/ideas/edit/{{id}}">Edit</a>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>        
    </div>
{{else}}
<p>Não Existe Alunos Cadastrados</p>
{{/each}}