{{#each errors}}
<div class="alert alert-danger">
    {{text}}
</div>
{{else}}
{{/each}}
<div class="card card-body">
    <h3>{{pageTitle}}</h3>
     <form action="/alunos/{{aluno.id}}?_method=PUT" method="post">
     <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" class="form-control" value="{{aluno.nome}}"required>
        </div>
        <div class="form-group">
            <label for="datanascimento">Data de Nascimento</label>
            <input type="text" name="datanascimento" class="form-control" value="{{aluno.datanascimento}}"required>
        </div>
        <div class="form-group">
            <label for="foto">Foto</label>
            <input type="text" name="foto" class="form-control" value="{{aluno.foto}}"required>
        </div>
        <div class="form-group">
            <label for="nomepais">Nome dos Pais</label>
            <input type="text" name="nomepais" class="form-control" value="{{aluno.nomepais}}"required>
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" name="endereco" class="form-control" value="{{aluno.endereco}}"required>
        </div>
        <div class="form-group">
            <label for="data">Data</label>
            <input type="text" name="data" class="form-control" value="{{aluno.data}}"required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>